body{margin: 15px 150px 20px 150px;}
p{ background:pink; padding:20px 100px 20px 100px; align:center;}

button{background-color: black;
color:white;
border-width:medium;
padding:15px 25px;

font-size: 15px;}
button.y{background-color: black;
color:black;
border-width:medium;
padding:15px 110px;
font-size: 15px;}
button.u{background-color: black;
color:white;
border-width:medium;
padding:15px 62px;
font-size: 15px;}
button.t{background-color: black;
color:white;
border-width:medium;
padding:15px 25px;
font-size: 10px;}

button.b{background-color: pink;
color:pink;
border-width:medium;
margin:auto;
display:block;
padding:90px 200px;
font-size: 10px;}
button.n{background-color: black;
color:white;
border-width:medium;
padding:13px 34px;
font-size: 10px;}
button.f{background-color: black;
color:white;
border-width:medium;
padding:18px 42px;
font-size: 10px;}
button.v{background-color: black;
color:white;
border-width:medium;
padding:13px 22px;
font-size: 10px;}